<div class="header-title text-center py-2 px-2">
    <p class="text-white"><strong class="text-yellow">STEP 1:</strong> See if your Baby Qualifies for a Claim</p>
</div>
<header>
    <div class="container px-2">
        <div class="row p-4">
            <div class="col-lg-8 p-4">
                <h1 class="text-yellow"><strong>YOU MAY BE ENTITLED TO MAJOR CASH COMPENSATION </strong><b class="text-white">FROM FORMULA COMPANIES</b></h1>
                <div class="content-header text-white">
                    <p>If your Baby was Premature and given Cows-Milk-based Formula & Developed:</p>
                    <p class="my-4">
                        Intestinal Injuries,<br> Stomach Pain,<br> Severe Swelling,<br> or was Diagnosed with something called "NEC"</p>
                    <strong class="text-yellow">
                        Take this 45 Second Application to See if you Qualify
                    </strong>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="header-slide bg-yelow m-0 text-center p-1 text-purple">
                    <b>FIND OUT IF YOU/YOUR BABY HAVE A CLAIM NOW</b>
                </div>
                <form action="https://forms.zohopublic.com/viribuzmedia/form/BABYCLAIMDuplicatefortesting/formperma/0MHRD3uNDrNW85YvAxis99vkjYjMlOmWF-uylImVqDM/htmlRecords/submit" name='form' method="post" class="p-4 bg-light-purple text-white" id="form-slider">

                    <div class="slide-form">
                        <div class="slide-item active">
                            <label class="zf-labelName">What State did you give birth in? *</label>
                            <input type="text" name="SingleLine" checktype="c1" value="" maxlength="255" fieldType=1 placeholder="" class="form-control" />
                        </div>
                        <div class="slide-item">
                            <label class="zf-labelName">What Year was your baby Born ? * </label>
                            <select class="zf-form-sBox form-control" name="Dropdown" checktype="c1">
                              <option selected="true" value="-Select-">-Select-</option>
                              <option value="2021" selected>2021</option>
                              <option value="2020">2020</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2003">2003</option>
                              <option value="2001">2001</option>
                           </select>
                        </div>
                        <div class="slide-item">
                            <label class="zf-labelName">Was your little one born Prematurely (37 weeks or earlier?) *</label>
                            <div class="radio-type">
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio_1" name="Radio" checktype="c1" value="Yes">
                                    <label for="Radio_1" class="zf-radioChoice">Yes</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio_2" name="Radio" checktype="c1" value="No">
                                    <label for="Radio_2" class="zf-radioChoice">No</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio_3" name="Radio" checktype="c1" value="Im&#x20;not&#x20;Sure">
                                    <label for="Radio_3" class="zf-radioChoice">Im&#x20;not&#x20;Sure</label>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <label class="zf-labelName">Were they ever diagnosed with NEC (Necrotizing Enterocolitis)? *</label>
                            <div class="radio-type">
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio1_1" name="Radio1" checktype="c1" value="Yes">
                                    <label for="Radio1_1" class="zf-radioChoice">Yes</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio1_2" name="Radio1" checktype="c1" value="No">
                                    <label for="Radio1_2" class="zf-radioChoice">No</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio1_3" name="Radio1" checktype="c1" value="Im&#x20;Not&#x20;Sure">
                                    <label for="Radio1_3" class="zf-radioChoice">Im&#x20;Not&#x20;Sure</label>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <label class="zf-labelName">Were they fed formula or any fortifiers? *</label>
                            <div class="radio-type">
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio2_1" name="Radio2" checktype="c1" value="Yes">
                                    <label for="Radio2_1" class="zf-radioChoice">Yes</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio2_2" name="Radio2" checktype="c1" value="No">
                                    <label for="Radio2_2" class="zf-radioChoice">No</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio2_3" name="Radio2" checktype="c1" value="I&#x20;am&#x20;not&#x20;sure">
                                    <label for="Radio2_3" class="zf-radioChoice">I&#x20;am&#x20;not&#x20;sure</label>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <label class="zf-labelName">Did your little one have surgeries or pass away as a result of NEC? *</label>
                            <div class="radio-type">
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio3_1" name="Radio3" checktype="c1" value="Yes">
                                    <label for="Radio3_1" class="zf-radioChoice">Yes</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio3_2" name="Radio3" checktype="c1" value="No">
                                    <label for="Radio3_2" class="zf-radioChoice">No</label>
                                </div>
                                <div class="button">
                                    <input class="zf-radioBtnType" type="radio" id="Radio3_3" name="Radio3" checktype="c1" value="I&#x20;am&#x20;not&#x20;sure">
                                    <label for="Radio3_3" class="zf-radioChoice">I&#x20;am&#x20;not&#x20;sure</label>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <label>First Name</label>
                            <input type="text" maxlength="255" name="Name_First" fieldType=7 class="form-control" />

                            <label>Last Name</label>
                            <input type="text" maxlength="255" name="Name_Last" fieldType=7 class="form-control" />

                            <label class="zf-labelName">Phone *</label>
                            <div class="zf-tempContDiv zf-phonefld">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select name="" class="form-control" ompname="PhoneNumber_countrycodeval" name="PhoneNumber_countrycodeval" checktype="c7" maxlength="10" phoneFormat="1" isCountryCodeEnabled=true id="international_PhoneNumber_countrycodeval" valType="code" placeholder="">
                                        </select>
                                        <!-- <input type="text" compname="PhoneNumber_countrycodeval" name="PhoneNumber_countrycodeval" checktype="c7" maxlength="10" phoneFormat="1" isCountryCodeEnabled=true id="international_PhoneNumber_countrycodeval" valType="code" placeholder="" /> -->
                                    </div>
                                    <input type="text" class="form-control" compname="PhoneNumber" name="PhoneNumber_countrycode" maxlength="20" checktype="c7" value="" phoneFormat="1" isCountryCodeEnabled=true fieldType="11" id="international_PhoneNumber_countrycode" valType="number" phoneFormatType="1"
                                        placeholder="" />
                                </div>
                            </div>

                            <label class="zf-labelName">Email *</label>
                            <div class="zf-tempContDiv">
                                <span> <input fieldType=9  type="text" maxlength="255" name="Email" checktype="c5" value="" placeholder="" class="form-control"/></span>
                                <p id="Email_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
                            </div>

                        </div>
                    </div>
                    <div class="btn-submit-wrapper text-center">
                        <a class="btn btn-purple bg-yelow text-purple next-btn" (click)="nextSlide()"><b>Next</b></a>
                        <input class="btn btn-purple bg-yelow text-purple submit-btn" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<section class="container mb-5">
    <div class="row justify-content-center ">
        <div class="col-lg-6 bg-white border py-3 instruction shadow text-purple px-5 ">
            <h1 class="text-center "><strong>HOW TO KNOW IF YOUR BABY HAD NEC?</strong></h1>
            <p>
                NEC very rarely occurs before a baby has been fed. Formula feeding significantly increases the risk of a baby developing NEC, <b>but formula manufacturers do not put a warning on their containers.</b>
            </p>
            <p class="my-3 ">
                Treatments for NEC do not cure the condition, and infants who experience NEC will have lifelong neurological and digestive issues.
            </p>
            <p>
                Treatment for NEC also is traumatic for the baby and family. You may have a claim if you have experienced any of the following:
            </p>
            <ul class="my-4 ">
                <li>
                    <b>
                        Your Baby Was Premature & Given Formula while in the NiCU
                    </b>
                </li>
                <li>
                    <b>Doctors or Nurses Mentioned the Word NEC</b> (pronounced: "NECK ") when discussing your babies Stomach issues
                </li>
                <li>
                    <b>Your Baby was premature, and had to have emergent Surgery on his/her Stomach</b> often a sign that there is swelling and gas in their intestines that can be deadly
                </li>
            </ul>
            <div class="text-center w-100 ">
                <button class="btn btn-purple text-center ">
                    <span class="text-yellow ">SUBMIT A CLAIM NOW!</span>
                    <p class="text-light ">LET US FIGHT FOR YOU AND YOUR BABY</p>    
                </button>
            </div>
        </div>
    </div>
</section>