body {
    margin: 0;
    overflow: visible;
}

strong {
    color: rgb(255, 251, 0);
}

.sub-heading {
    background-color: #4B007C;
    padding: 10px 0px 12px;
}

.sub-heading-text {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-align: center;
    margin: auto;
}

.heading-text {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 58px;
    color: white;
    margin: 0;
    letter-spacing: -1px;
    line-height: 1em;
}

.heading {
    background-image: url('/assets/nec-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 70px;
    padding-top: 25px
}

.heading-text2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 19px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4B007C;
    color: white;
}

.copyright {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    padding-top: 20px;
    padding-right: 160px;
    float: right
}

.logo {
    margin: 20px;
    float: left;
    padding-left: 110px;
}